
/* Estilo personalizado para el Label */
.custom-label {
    -fx-font-family: "Bree Serif"; /* Fuente Arial */
    -fx-font-size: 40px; /* Tamaño de fuente 18px */
    -fx-text-fill: #ffffff; /* Color del texto */
}

