/* Estilo personalizado para el CheckBox */
.custom-checkbox .box {
    -fx-background-color: #ffffff; /* Fondo blanco */
    -fx-border-color: #000000; /* Borde negro */
    -fx-scale-x: 1.5; /* Escalar en el eje X */
    -fx-scale-y: 1.5; /* Escalar en el eje Y */
}

.custom-checkbox .box:hover {
    -fx-background-color: #f0f0f0; /* Cambiar color al pasar el mouse */
}

.custom-checkbox .box:selected {
        -fx-background-color: #00ff00; /* Cambiar color cuando está seleccionado */
}
/* cambi de tamaño de 1.5 * 1.5*/
